# Tarefa Semana 1: Detecção da massa de um Z-Boson

[Github da tarefa](https://github.com/hse-aml/hadron-collider-machine-learning/tree/master/week1)

Let's look at a sample of $Z$ boson candidates recorded by CMS in 2011 and published at CERN opendata portal. It comes from DoubleMuon dataset with the following selection applied:

* Both muons are "global" muons
* invariant mass sits in range: 60 GeV < $ M_{\mu\mu}$ < 120 GeV
* |$\eta$| < 2.1 for both muons
* $p_{t}$ > 20 GeV

The following columns presented in the CSV file:

* Run, Event are the run and event numbers, respectively
* pt is the transverse momentum $p_{t}$ of the muon
* eta is the pseudorapidity of the muon: $\eta$
* phi is the $\phi$ angle of the muon direction
* Q is the charge of the muon
* dxy is the impact parameter in the transverse plane: $d_{xy}$ - how distant is the track from the collision point
* iso is the track isolation: $I_{track}$ - how many other tracks are there around given track

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from skopt import gp_minimize
%matplotlib inline

In [5]:
df = pd.read_csv('./Zmumu.csv')
print(df.shape)
df.head()

(10000, 14)

,Run,Event,pt1,eta1,phi1,Q1,dxy1,iso1,pt2,eta2,phi2,Q2,dxy2,iso2
0,165617,74969122,54.7055,-0.4324,2.5742,1,-0.0745,0.4999,34.2464,-0.9885,-0.4987,-1,0.0712,3.4221
1,165617,75138253,24.5872,-2.0522,2.8666,-1,-0.0554,0.0000,28.5389,0.3852,-1.9912,1,0.0515,0.0000
2,165617,75887636,31.7386,-2.2595,-1.3323,-1,0.0879,0.0000,30.2344,-0.4684,1.8833,1,-0.0876,0.0000
3,165617,75779415,39.7394,-0.7123,-0.3123,1,0.0585,0.0000,48.2790,-0.1956,2.9703,-1,-0.0492,0.0000
4,165617,75098104,41.2998,-0.1571,-3.0408,1,-0.0305,1.2280,43.4508,0.5910,-0.0428,-1,0.0442,0.0000